<div class="user_profile_page">
  <div class="profile_card">
    <div class="top">
      <div class="left">

      </div>
      <div class="right">
        <div>
        <h2>
          <%= current_user.first_name %> <%= current_user.last_name %>
        </h2>
        <p><%= current_user.role %>, <%= current_user.age %></p>
        </div>
      </div>
    </div>








  </div>
</div>
