.registration_page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  #new_user {
    width: 500px;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
  #signup_button {
    background-color: #088282;
    width: 50%;
    border-radius: 5px;
    color: white;
  }}
  .login_button{
    color: black;
  }

}
