<div class="landing_page">
  <div class="banner">
    <div id="carouselbanner" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselbanner" data-slide-to="0" class="active"></li>
        <li data-target="#carouselbanner" data-slide-to="1"></li>
        <li data-target="#carouselbanner" data-slide-to="2"></li>
      </ol>

   <% @sports.each do |sport|%>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src=<%= sport.photo %> class="d-block w-100" alt="surf">
          <div class="carousel-caption d-none d-md-block">
            <h1><em><%= sport.name %></em></h1>
            <p> <%= sport.description %></p>
            <a class="btn btn-ghost" href="#">Book Lesson</a>
          </div>
        </div>
  <% end %>


      <a class="carousel-control-prev" href="#carouselbanner" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselbanner" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-copyright">
    This website was made by talented students at Le Wagon.
    All rights reserved ® 2020
  </div>
</div>
