
<div class="index_page">
  <div class="left">
    <h1><light>Lessons around the Portuguese Coast</light></h1>
      <%= render "shared/card" , partial: @lessons %>
  </div>
  <div class="right"></div>
</div>
