<div class="index_page">
  <div class="left">
    <h2><strong><%= params[:student].present? ? "You are enrolled in #{@lessons.length} lessons" : params[:query].present? ? "Results for #{params[:query]}" : 'All lessons' %></strong></h2>
    <div class="container">
      <%= render "shared/card" , partial: @lessons %>
    </div>
  </div>

      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
 </div>


