
<div class="index_page">
  <div class="left">
    <h1><light>Lessons around the Portuguese Coast</light></h1>
      <%= render "shared/card" , partial: @lessons %>
  </div>
  <div class="right">
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

