.card {
  overflow: hidden;
  background: white;
  display: flex !important;
  flex-direction: row;
  height: 200px;
  width: 100%;
  padding: 20px;
  margin: 0;
  align-items: center;
  border: 0;
  border-top: 1px solid #DDDDDF;
  h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
  .card-product-infos {
      width: 44%;
      #time {
        margin-top: 63px;
      }
  }


  .card-right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .card-price {
      height: 50%;
    }
    .card-review {
      height: 50%;
      display: flex;
      align-items: flex-end;
    }
  }


  .image {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    img {
      width: 226.67px;
      height: 100%;
      border-radius: 5px;
    }
  }
}





