.mapboxgl-popup {
  max-width: 200px;
  height: 50px;
  border-radius: 10px;
  img {
    width: 100%;
    height: 50%;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  border-radius: 22px !important;
  -webkit-box-shadow: 10px 6px 19px -1px rgba(199,181,199,1)!important;
  -moz-box-shadow: 10px 6px 19px -1px rgba(199,181,199,1)!important;
   box-shadow: 10px 6px 19px -1px rgba(199,181,199,1)!important;
}

/* TODO: design your flexbox layout with a sticky map */
.container {
  display: flex;
}


#map {
  width: 40%;
  height: calc(100vh - 100px);
  position: sticky;
  top: 100px;
}


