.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.dropdown-toggle::after {
  color: white;
}


.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
